error_handling/src/main/mule/error_handling.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="6cc8739c-796f-4b7d-8435-74c9337118b3" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="f86c3a14-6b09-4136-bd8e-54caae98b8e3" >
		<db:my-sql-connection host="localhost" port="3306" user="root" password="kdkkdkd" database="mysql" />
	</db:config>
	<flow name="error_handlingFlow" doc:id="7bd83041-8971-4e38-a9d4-9958ffcd31b4" >
		<http:listener doc:name="Listener" doc:id="4422420f-a2e2-4eef-88de-a0e10813243c" config-ref="HTTP_Listener_config" path="/error"/>
		<logger level="INFO" doc:name="Logger" doc:id="698e7777-e552-4987-bf77-263590831eeb" message="#[payload]"/>
		<try doc:name="Try" doc:id="185e2d6b-92ee-4858-9250-b3d756d831ae" >
			<db:insert doc:name="Insert" doc:id="5dfba04a-e8aa-4d6e-9e4a-827031a06699" config-ref="Database_Config">
			<db:sql><![CDATA[insert into]]></db:sql>
		</db:insert>
			<error-handler>
				<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="db46f4af-4023-4b1a-a7f4-3e768d3dfc63" type="ANY">
					<ee:transform doc:name="Transform Message" doc:id="271582d3-d5dd-41f7-95fb-69575de83e8d">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"Success": "It continues"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
				</on-error-continue>
			</error-handler>
		</try>
		<logger level="INFO" doc:name="Logger" doc:id="f617a344-3b88-4329-b535-60696e2c1962" message="Executed"/>
	</flow>
</mule>
